<table class="table address-table">
    <thead>
        <th>收货人</th>
        <th>所在地区</th>
        <th>详细地址</th>
        <th>邮编</th>
        <th>手机号码</th>
        <th>操作</th>
    </thead>
    <tbody>
        <tr class="bordered" ng-repeat-start="addr in addresses">
            <td>{{addr.consignee}}</td>
            <td>{{addr.province}} {{addr.city}} {{addr.district}}</td>
            <td>{{addr.address}}</td>
            <td>{{addr.postcode}}</td>
            <td>{{addr.phone}}</td>
            <td>
                <div>
                    <span class="btns">
						<a href="javascript:void(0)" ng-click="edit(addr)">修改</a>
						<a href="javascript:void(0)">删除</a>
					</span>
                    <label ng-if="addr.isDefault==1" class="label label-warning">默认地址</label>
                </div>
            </td>
        </tr>
        <tr class="bordered" ng-show="addr.isEdit">
            <td colspan="6">
                <form class="form-horizental">
                    <div class="form-group row">
                        <label class="col-xs-2 control-label">省份 ：</label>
                        <div class="col-xs-3">
                            <select required="" class="form-control" ng-model="addr.province" ng-options="key as key for (key,value) in division" ng-change="addr.city='';addr.district='';">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-2 control-label">城市 ：</label>
                        <div class="col-xs-3">
                            <select required="" class="form-control" ng-model="addr.city" ng-options="key as key for (key,value) in division[addr.province]" ng-change="addr.district='';">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-2 control-label">县 / 区 ：</label>
                        <div class="col-xs-3">
                            <select required="" class="form-control" ng-model="addr.district" ng-options="value as value for value in division[addr.province][addr.city]">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-2 control-label">详细地址 ： </label>
                        <div class="col-xs-7">
                            <textarea rows="5" class="form-control" ng-model="addr.address" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-2 control-label">邮编 ： </label>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" ng-model="addr.postcode" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-2 control-label">收件人 ： </label>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" ng-model="addr.consignee" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-2 control-label">手机号码 ： </label>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" ng-model="addr.phone" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 text-left">
                            <input type="checkbox" value="1" ng-model="addr.isDefault" /> <b>设为默认收货地址</b>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <div class="actions">
                                <input type="button" ng-click="cancelEdit(addr)" class="btn btn-warning" value="取消" />
                                <input type="submit" class="btn btn-warning" value="保存" />
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        <tr ng-repeat-end>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td colspan="6">
                <div class="links">
                    <a href="javascript:void(0)" ng-click="add()" class="btn btn-link">
                        <i class="fa fa-plus-square-o"></i> 添加新地址
                    </a>
                </div>
            </td>
        </tr>
        <tr class="bordered" ng-show="newAddr && newAddr.isEdit">
            <td colspan="6">
                <form class="form-horizental">
                    <div class="form-group row">
                        <label class="col-xs-2 control-label">省份 ：</label>
                        <div class="col-xs-3">
                            <select required="" class="form-control" ng-model="newAddr.province" ng-options="key as key for (key,value) in division" ng-change="newAddr.city='';newAddr.district='';">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-2 control-label">城市 ：</label>
                        <div class="col-xs-3">
                            <select required="" class="form-control" ng-model="newAddr.city" ng-options="key as key for (key,value) in division[newAddr.province]" ng-change="newAddr.district='';">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-2 control-label">县 / 区 ：</label>
                        <div class="col-xs-3">
                            <select required="" class="form-control" ng-model="newAddr.district" ng-options="value as value for value in division[newAddr.province][newAddr.city]">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-2 control-label">详细地址 ： </label>
                        <div class="col-xs-7">
                            <textarea rows="5" class="form-control" ng-model="newAddr.address" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-2 control-label">邮编 ： </label>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" ng-model="newAddr.postcode" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-2 control-label">收件人 ： </label>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" ng-model="newAddr.consignee" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-2 control-label">手机号码 ： </label>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" ng-model="newAddr.phone" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 text-left">
                            <input type="checkbox" value="1" ng-model="newAddr.isDefault" /> <b>设为默认收货地址</b>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <div class="actions">
                                <input type="button" ng-click="cancelEdit(newAddr)" class="btn btn-warning" value="取消" />
                                <input type="submit" class="btn btn-warning" value="保存" />
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </tbody>
</table>
