<div class="sponsor container">
  <div class="public-welcome-text">欢迎来到Antsmake，穿点好的，很有必要！</div>
  <div class="public-content-container">
    <div class="tabs">
        <div class="tab" data-ng-repeat="tab in tabs" data-ng-click="changeTab(tab)">
            <div class="img-container"><img src="{{tab.imgPath}}" /></div>
            <div class="tab-name" data-ng-class="{'selected-tab': activeTab.id == tab.id}">{{tab.name}}</div>
        </div>
    </div>
    <div class="tab-page">
        <div data-ng-include src="'sponsor'"></div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="sponsor">
    <div>
        <div class="description">
            欢迎来到AntsMake发起人手册！我们希望它能够帮助你解决团体服装定制的烦琐：快捷的设计呈现、采购成本的公开透明、成员尺码的自主统计；<br>
            你的任何麻烦与顾虑，都是我们致力于解决的首要问题！
        </div>
        <div class="items">
            <div class="accordion" id="accordion1">
                <div class="accordion-group">
                    <div class="accordion-heading item">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                            发起人设计的目的
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner">
                            发起人设计的目的...
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading item">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                            发起流程
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            发起流程...
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading item">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
                            结算
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                        <div class="accordion-inner">
                            结算...
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading item">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">
                            售后
                        </a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse">
                        <div class="accordion-inner">
                            售后...
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="item">发起人设计的目的</div>-->
            <!--<div class="item">发起流程</div>-->
            <!--<div class="item">结算</div>-->
            <!--<div class="item">售后</div>-->
        </div>
    </div>
</script>