<div class="container home-list-container">
	<ul class="nav nav-tabs am-nav-tabs">
		<li><a data-ng-class="{'active': designType == 'all'}" data-ng-click="showAllDesigns()">最新设计</a></li>
		<li><a data-ng-class="{'active': designType == 'my'}" data-ng-click="showMyDesigns()">我的设计</a></li>
	</ul>
	<div class="tab-content">
		<ul class="list-design">
			<li data-ng-repeat="d in homeData.designs">
				<div class="row" data-ng-click="toCaseDetail(d.id)">
					<div class="col-xs-12 col-md-2">
						<img class="avatar" src="{{d.images[0]}}" />
					</div>
					<div class="col-xs-12 col-md-10">
						<div class="caption">
							<div>
								<span class="user">{{::d.user_info.nickname}}</span>
								<span class="time">{{::d.created_at}}</span>
							</div>
							<h4 class="title">{{::d.name}}</h4>
							<p class="description">{{::d.describe}}</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
    <div class="float-container">
        <div class="item" data-ng-click="toCart()">
            <img src="imgs/home/shopping-cart.jpg" alt=""/>
            <div>购物车</div>
        </div>
        <div class="item">
            <img src="imgs/home/qq.jpg" alt=""/>
            <div>在线客服</div>
        </div>
        <div class="item">
            <img src="imgs/home/phone.jpg" alt=""/>
            <div class="phone-number">4000-8191-00</div>
        </div>
        <div class="item" data-ng-mouseenter="onWeChatMouseEnter()" data-ng-mouseleave="onWeChatMouseLeave()">
            <img src="imgs/home/wechat.jpg" alt=""/>
            <div>添加微信</div>
        </div>
        <div class="qr-code-container" data-ng-if="showQrCode">
            <img src="imgs/home/qr-code.jpg" alt=""/>
        </div>
    </div>
</div>

