<div class="design-detail container">
    <div class="page-items">
        <div class="page-item">
            <div class="page-name">我的设计</div>
            <div class="gt">&gt;</div>
        </div>
        <div class="page-item selected-page-style">
            <div class="page-name">越急越要穿</div>
        </div>
    </div>
    <div class="status-progress-bar">
        <div class="status-item" data-ng-repeat="s in statuses">
            <div class="yellow">{{s.name}}</div>
            <div class="black"></div>
        </div>
        <div class="rest"></div>
    </div>
    <div class="shopping-list">购物单 —</div>
    <div class="cloth-title">圆领短袖T恤</div>

    <div class="choose-product">
        <div class="product-container">
            <div class="left-part">
                <div class="left-item">
                    <div class="item-left">100CM</div>
                    <div class="item-middle"></div>
                    <div class="item-right">
                        <div class="minus">-</div>
                        <input type="number" min="0" value="0"/>
                        <div class="plus">+</div>
                    </div>
                </div>
                <div class="left-item">
                    <div class="item-left">110CM</div>
                    <div class="item-middle"></div>
                    <div class="item-right">
                        <div class="minus">-</div>
                        <input type="number" min="0" value="0"/>
                        <div class="plus">+</div>
                    </div>
                </div>
                <div class="left-item">
                    <div class="item-left">120CM</div>
                    <div class="item-middle"></div>
                    <div class="item-right">
                        <div class="minus">-</div>
                        <input type="number" min="0" value="0"/>
                        <div class="plus">+</div>
                    </div>
                </div>
                <div class="left-item">
                    <div class="item-left">130CM</div>
                    <div class="item-middle"></div>
                    <div class="item-right">
                        <div class="minus">-</div>
                        <input type="number" min="0" value="0"/>
                        <div class="plus">+</div>
                    </div>
                </div>
                <div class="left-item">
                    <div class="item-left">140CM</div>
                    <div class="item-middle"></div>
                    <div class="item-right">
                        <div class="minus">-</div>
                        <input type="number" min="0" value="0"/>
                        <div class="plus">+</div>
                    </div>
                </div>
                <div class="left-item">
                    <div class="item-left">150CM</div>
                    <div class="item-middle"></div>
                    <div class="item-right">
                        <div class="minus">-</div>
                        <input type="number" min="0" value="0"/>
                        <div class="plus">+</div>
                    </div>
                </div>
                <div class="left-item">
                    <div class="item-left">160CM</div>
                    <div class="item-middle"></div>
                    <div class="item-right">
                        <div class="minus">-</div>
                        <input type="number" min="0" value="0"/>
                        <div class="plus">+</div>
                    </div>
                </div>
            </div>
            <div class="right-part">
                <div id="myCarousel" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-container">
                        <div class="prev">
                            <a class="left" href="#myCarousel" data-slide="prev"><img src="imgs/design/pre.jpg" alt=""/></a>
                        </div>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item"><img src="imgs/design/choose-product.jpg" alt=""/></div>
                            <div class="item"><img src="imgs/design/choose-product.jpg" alt=""/></div>
                            <div class="item"><img src="imgs/design/choose-product.jpg" alt=""/></div>
                        </div>
                        <!-- Carousel nav -->
                        <div class="next">
                            <a class="right" href="#myCarousel" data-slide="next"><img src="imgs/design/next.jpg" alt=""/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="count-part">
            <div>预估生产成本： ￥<span class="price-number">28</span>/件</div>
            <div>小计数量： <span class="price-number">28</span>件</div>
            <div class="delete"><img src="imgs/design/delete.jpg" alt=""/></div>
        </div>
        <div class="add-product-panel">
            <div>+添加其他商品</div>
            <div class="help-text">（将这次设计的方案应用到更多款式上）</div>
        </div>
        <div class="count-part total-count">
            <div>预估生产总价： ￥<span class="price-number">28</span></div>
            <div>总数量： <span class="price-number">28</span>件</div>
            <div>应付总计： ￥<span class="price-number">28</span></div>
        </div>
        <div class="step-buttons">
            <div class="step-button" data-ng-click="">修改描述</div>
            <div class="step-button disable" data-ng-click="">立即支付</div>
        </div>
    </div>
    <div class="size-count-tool">
        <div class="title">尺码统计工具 — <span class="sub-text">（帮助你更快捷的统计大家的尺码）</span></div>
        <div class="tool-container">
            <table class="table">
                <thead>
                <tr>
                    <th class="group">分组</th>
                    <th class="phone">手机号码</th>
                    <th>姓名</th>
                    <th>款式</th>
                    <th>颜色</th>
                    <th>尺码</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="i in items">
                    <td>{{::i.type}}</td>
                    <td><input type="checkbox" ng-model="i.selected"/>{{::i.phone}}</td>
                    <td>{{::i.name}}</td>
                    <td>{{::i.style}}</td>
                    <td>{{::i.color}}</td>
                    <td>{{::i.size}}</td>
                    <td><a href="">添加</a> | <a href="">删除</a></td>
                </tr>
                </tbody>
            </table>
            <div class="action-part">
                <div class="add-group"><img src="imgs/designDetail/add-group.jpg" alt=""/>添加新分组</div>
                <div class="checkboxs">
                    <label for=""><input type="checkbox" ng-model="action.selectAll"/>全选</label>
                    <label for=""><input type="checkbox" ng-model="action.reverse"/>反选</label>
                    <label for=""><input type="checkbox" ng-model="action.bulkAdd"/>批量添加</label>
                    <label for=""><input type="checkbox" ng-model="action.bulkDelete"/>批量删除</label>
                </div>
                <div class="export-button">导出表格</div>
            </div>
            <div class="copy-link">
                <div class="update-link-button">更新统计链接</div>
                <div class="link">
                    <input type="text"/><div class="copy-button">复制链接</div>
                </div>
                <div class="text">/ 复制链接分享给大家进行尺码统计 /</div>
            </div>
            <div class="share-part">
               <div>分享到</div>
                <img src="imgs/designDetail/we-chat.jpg" alt=""/>
                <img src="imgs/designDetail/qq.jpg" alt=""/>
            </div>
        </div>
    </div>
</div>