<div class="design container">
    <div class="page-items">
        <div class="page-item" data-ng-class="{'selected-page-style': page.id == currentPage.id}" data-ng-repeat="page in pages" data-ng-click="changePage(page)">
            <div class="page-order">{{page.order}}</div>
            <div class="page-name">{{page.name}}</div>
            <div class="gt">&gt;</div>
        </div>
    </div>
    <div class="current-page">
        <div data-ng-include src="currentPage.id"></div>
    </div>
</div>

<script type="text/ng-template" id="design">
    <div class="design-container">
      <div class="tab-container">
          <div class="tabbable"> <!-- Only required for left/right tabs -->
              <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab1" data-toggle="tab">文字</a></li>
                  <li><a href="#tab2" data-toggle="tab">图片</a></li>
              </ul>
              <div class="tab-content">
                  <div class="tab-pane active" id="tab1">
                      <div class="top-part">
                          <div class="word-item">
                              <div class="title">添加文字</div>
                              <textarea rows="3" placeholder="可以多次添加"></textarea>
                          </div>
                          <div class="word-item">
                              <div class="title">选择一种字体</div>
                              <select>
                                  <option value="">无描边</option>
                              </select>
                          </div>
                          <div class="word-item">
                              <div class="title">添加描边</div>
                              <select>
                                  <option value="">无描边</option>
                              </select>
                          </div>
                      </div>
                      <div class="bottom-part">
                          <div class="title">居中辅助线</div>
                          <div class="action-part">
                              <div class="action-item">
                                  <img src="imgs/design/copy.jpg" alt=""/>
                                  <div>复制</div>
                              </div>
                              <div class="action-item">
                                  <img src="imgs/design/align-center.jpg" alt=""/>
                                  <div>整体居中</div>
                              </div>
                              <div class="action-item">
                                  <img src="imgs/design/right-left.jpg" alt=""/>
                                  <div>左右反转</div>
                              </div>
                              <div class="action-item">
                                  <img src="imgs/design/top-bottom.jpg" alt=""/>
                                  <div>上下反转</div>
                              </div>
                          </div>
                          <p>*如果设计工具无法满足您的需求，我们可以提供免费的设计加工服务<a>寻求帮助></a></p>
                      </div>
                  </div>
                  <div class="tab-pane" id="tab2">
                      <p>图片</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="img-container">
          <img src="imgs/design/big-img.jpg" alt=""/>
          <div class="option-links">
              <div class="top-link"><a href="">隐藏区域线</a></div>
              <div>
                  <a href="">正面</a>
                  <a href="">背面</a>
                  <a href="">左袖</a>
                  <a href="">右袖</a>
              </div>
          </div>
      </div>
      <div class="style-container">
          <div class="title">款式和颜色</div>
          <select>
              <option value="">圆领短袖T恤</option>
              <option value="">V领短袖T恤</option>
              <option value="">POLO衫</option>
          </select>
          <div class="style-item">
              <img src="imgs/design/small-img1.jpg" alt=""/>
              <div class="description">
                  <span>纯棉舒适款</span>
                  <span>Antsmake</span>
              </div>
              <div class="colors"></div>
          </div>
          <div class="style-item">
              <img src="imgs/design/small-img2.jpg" alt=""/>
              <div class="description">
                  <span>纯棉舒适款</span>
                  <span>Antsmake</span>
              </div>
              <div class="colors"></div>
          </div>
          <div class="style-item">
              <img src="imgs/design/small-img3.jpg" alt=""/>
              <div class="description">
                  <span>纯棉舒适款</span>
                  <span>Antsmake</span>
              </div>
              <div class="colors"></div>
          </div>
          <div class="style-item">
              <img src="imgs/design/small-img4.jpg" alt=""/>
              <div class="description">
                  <span>纯棉舒适款</span>
                  <span>Antsmake</span>
              </div>
              <div class="colors"></div>
          </div>
          <div class="bottom-part">
              <div class="price-description">定制50件的预估价：<span class="price">28</span>/件</div>
              <div>(10件起做)</div>
              <div class="next-button">下一步</div>
          </div>
      </div>
    </div>
</script>

<script type="text/ng-template" id="chooseProduct">
    <div>chooseProduct</div>
</script>

<script type="text/ng-template" id="addDescription">
    <div class="description-container">
        <form class="form-horizental">
            <div class="form-group row">
                <label class="control-label">设计名称：</label>
                <div class="col-xs-3">
                    <input type="text" placeholder="请为你的设计取名" class="form-control" ng-model="addr.postcode" required />
                    <img src="imgs/design/exclamation.jpg" alt=""/>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label">我的昵称：</label>
                <div class="col-xs-3">
                    <input type="text" placeholder="提交后将无法修改" class="form-control" ng-model="addr.postcode" required />
                    <img src="imgs/design/exclamation.jpg" alt=""/>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label">我的邮箱：</label>
                <div class="col-xs-3">
                    <input type="text" placeholder="输入您的常用邮箱" class="form-control" ng-model="addr.postcode" required />
                    <img src="imgs/design/exclamation.jpg" alt=""/>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label">设计说明： </label>
                <div class="col-xs-3">
                    <input type="text" placeholder="简单的说明设计目的" class="form-control" ng-model="addr.postcode" required />
                    <img src="imgs/design/exclamation.jpg" alt=""/>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label">设计描述： </label>
                <div class="col-xs-7">
                    <textarea rows="15" placeholder="在这里你可以描述此设计作品传递的内容与信息" class="form-control" ng-model="addr.address" required></textarea>
                    <img src="imgs/design/exclamation.jpg" alt=""/>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <input type="submit" class="btn btn-warning" value="提交" />
        <div class="action-text">点击提交按钮时，我接受Antsmake的<a>用户协议</a></div>
    </div>
</script>