.shopping-cart {
  padding: 0;
  .item-list {
    th, td {
      width: 100px;
      text-align: center;
      vertical-align: middle;
      border-bottom: none;
    }
    .checkbox-container {
      width: 60px;
    }
    .img-container {
      width: 120px;
      img {
        width: 120px;
        height: 150px;
      }
    }
    .count {
      input {
        width: 50px;
        text-align: center;
      }
    }
    .size {
      select {
        width: 75px;
      }
    }
  }
}
