.design {
  .page-items {
    display: flex;
    flex-direction: row;
    height: 15px;
    line-height: 15px;
    margin: 20px 15px;
  }
  .page-item {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    .page-order {
      width: 15px;
      height: 15px;
      background-color: @disableColor;
      text-align: center;
      line-height: 15px;
      border-radius: 7px;
      color: white;
    }
    .page-name {
      padding: 0 5px;
      color: @disableColor;
    }
    .gt {
      color: @disableColor;
      margin-right: 5px;
    }
    &.selected-page-style {
      .page-order {
        background-color: @antYellow;
      }
      .page-name {
        color: @antYellow;
      }
      .gt {
        color: @antYellow;
      }
    }
  }

  .description-container {
    width: 100%;
    border: 1px solid @commonBorderColor;
    display: flex;
    flex-direction: column;
    padding: 40px;
    .form-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 0;
      margin-bottom: 30px;
      label {
        margin-bottom: 0;
      }
      .col-xs-3, .col-xs-7 {
        padding-left: 10px;
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          height: 16px;
          padding-left: 10px;
        }
      }
    }
    .form-textarea {
      label, img {
        align-self: baseline;
      }
    }
  }
  .actions {
    text-align: center;
    margin-top: 48px;
    input {
      width: 140px;
    }
    .action-text {
      padding: 15px;
      .aLink(@antYellow, lighten(@antYellow, 10%), darken(@antYellow, 10%));
    }
  }

  .design-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    .tab-container {
      border: 1px solid @commonBorderColor;
      width: 200px;
      .tab-content {
        textarea, select {
          width: 100%;
        }
        .top-part {
          padding: 10px 10px 20px 10px;
          border-bottom: 1px solid @commonBorderColor;
        }
        .bottom-part {
          padding: 10px;
          .action-part {
            display: flex;
            font-size: 11px;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 15px;
            margin-bottom: 60px;
            .action-item {
              text-align: center;
            }
          }
          p {
            .aLink(@antYellow, lighten(@antYellow, 10%), darken(@antYellow, 10%));
          }
        }
        .title {
          padding-left: 5px;
        }
        .word-item {
          margin-bottom: 20px;
        }
      }
    }
    .img-container {
      position: relative;
      .option-links {
        text-align: center;
        margin-top: 40px;
        .top-link {
          margin-bottom: 20px;
        }
      }
    }
    .style-container {
      width: 220px;
      .title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .style-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 15px 0;
        img {
          height: 65px;
          width: 50px;
        }
        .description {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .colors {
          height: 65px;
          width: 65px;
          background-color: red;
        }
      }
      .bottom-part {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-top: 1px solid @commonBorderColor;
        margin-top: 80px;
        .price-description {
          font-size: 16px;
          margin: 20px 0 10px 0;
        }
        .step-button {
          margin-top: 10px;
        }
      }
    }
  }

  .choose-product {
    width: 100%;
    padding-left: 15px;
    .step-title {
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 15px;
    }
    .radio-option {
      padding: 15px 0 30px 0;
      .radio-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        font-weight: normal;
        cursor: pointer;
        input {
          margin-right: 10px;
        }
      }
    }
    .product-container {
      height: 360px;
      border: 1px solid @commonBorderColor;
      color: @disableColor;
      display: flex;
      flex-direction: row;
      padding: 10px 20px;
      .left-part {
        flex-grow: 1;
        .left-item {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          margin: 10px 0;
          .item-left {
            text-align: center;
          }
          .item-middle {
            border-bottom: 1px @disableColor dashed;
            align-self: center;
            width: 250px;
            margin: 0 10px;
          }
          .item-right {
            display: flex;
            flex-direction: row;
            .minus, .plus {
              height: 25px;
              width: 25px;
              border: 1px @disableColor solid;
              text-align: center;
              font-size: 16px;
              cursor: pointer;
            }
            .minus {
              border-right: none;
            }
            .plus {
              border-left: none;
            }
            input {
              width: 78px;
              height: 25px;
              text-align: center;
            }
          }
        }
      }
      .right-part {
        flex-grow: 1;
        justify-content: center;
        display: flex;
        align-items: center;
        #myCarousel {
          width: 330px;
          height: 300px;
          .carousel-container {
            display: flex;
            flex-direction: row;
            .prev, .next {
              align-self: center;
            }
          }
        }
      }
    }
    .count-part {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: 90px;
      align-items: center;
      div {
        margin-right: 30px;
      }
      .delete {
        cursor: pointer;
        margin-right: 20px;
      }
    }
    .add-product-panel {
      height: 175px;
      border: 1px solid @commonBorderColor;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .help-text {
        color: @disableColor;
        margin-top: 10px;
      }
    }
    .total-price {
      height: 40px;
      text-align: right;
      line-height: 40px;
    }
    .step-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 15px 0;
      .step-button {
        margin-right: 90px;
      }
    }
  }
}
