.design {
  .page-items {
    display: flex;
    flex-direction: row;
    height: 15px;
    line-height: 15px;
    margin: 20px 15px;
  }
  .page-item {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    .page-order {
      width: 15px;
      height: 15px;
      background-color: @disableColor;
      text-align: center;
      line-height: 15px;
      border-radius: 7px;
      color: white;
    }
    .page-name {
      padding: 0 5px;
      color: @disableColor;
    }
    .gt {
      color: @disableColor;
      margin-right: 5px;
    }
    &.selected-page-style {
      .page-order {
        background-color: @antYellow;
      }
      .page-name {
        color: @antYellow;
      }
      .gt {
        color: @antYellow;
      }
    }
  }

  .description-container {
    width: 100%;
    height: 600px;
    border: 1px solid @commonBorderColor;
    display: flex;
    flex-direction: column;
    .description-item {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}