.sample-detail {
  height: 600px;
  display: flex;
  flex-direction: row;
  .small-img-container {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 100%;
    .small-img {
      width: 100%;
      height: 60px;
      text-align: center;
      border: 1px solid #b7b7b7;
      box-sizing: content-box;
      margin: 15px 0;
      cursor: pointer;
      img {
        width: 40px;
        height: 60px;
      }
    }
  }
  .big-img-container {
    display: flex;
    justify-content: center;
    width: calc(~"50% - 45px");
    height: 100%;
    img {
      position: relative;
      top: -50px;
      z-index: -1;;
    }
  }
  .cloth-detail-container {
    display: inline-block;
    width: calc(~"50% - 45px");
    height: 100%;
    .cloth-detail {
      padding: 10px;
      .type {
        font-size: 16px;
        font-weight: bold;
        padding: 10px 0;
      }
      .title-container {
        padding: 10px 0;
        .title {
          margin-right: 30px;
        }
      }
      .color-container {
        margin-top: 30px;
        .text {
          padding: 10px 0;
        }
        .color-items {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;;
          .color-item {
            width: 25px;
            height: 25px;
            border: 1px solid #b7b7b7;
            margin-right: 10px;
            cursor: pointer;
          }
        }
      }
      .size-detail {
        margin: 10px 0;
        .aLink(@antYellow, lighten(@antYellow, 10%), darken(@antYellow, 10%));
        a {
          text-decoration: underline;
        }
      }
      .size-select {
        margin: 40px 0 20px 0;
      }
      .num-select {
        margin: 20px 0;
      }
    }
    .button-container {
      display: flex;
      justify-content: center;
      .add-cart-button {
        .antsmakeButton(220px,40px, white, rgb(0, 86, 31), lighten(rgb(0, 86, 31), 10%), darken(rgb(0, 86, 31), 10%));
      }
    }
  }
}