<div class="passport-form">
    <div class="title">
        <div>
            <img src="imgs/logo.png" />
        </div>
        <h4>免费注册</h4>
    </div>
    <form name="validationForm" ng-submit="register(validationForm)" novalidate>
        <div class="form-group" ng-class="{'has-error':validationForm.account.$dirty&&validationForm.account.$invalid}">
            <label>手机</label>
            <div>
                <span class="block">
                    <div class="input-group">
                        <input required ng-pattern="phoneRegExp" name="account" type="text" ng-model="form.account" class="form-control" placeholder="请输入你的手机号码">
                        <span class="input-group-btn">
                            <button ng-disabled="!validationForm.account.$valid" ng-bind="getRegisterCodeText" class="btn btn-warning" ng-click="getRegisterCode(form.account)"></button>
                        </span>
                    </div>
                    
                </span>
                <div class="help-block" ng-show="!validationForm.account.$pristine&&validationForm.account.$invalid">
                    请输入正确的手机号码
                </div>
            </div>
            
        </div>
        <div class="form-group" ng-class="{'has-error':validationForm.code.$dirty&&validationForm.code.$invalid}">
            <label>验证码</label>
            <div>
                <span class="block">
                    <input required name="code" type="text" ng-model="form.code" class="form-control" placeholder="请输入收到的验证码">
                </span>
                <div class="help-block" ng-show="!validationForm.code.$pristine&&validationForm.code.$invalid">
                    请输入收到的验证码
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':validationForm.password.$dirty&&validationForm.password.$invalid}">
            <label>密码</label>
            <div>
                <span class="block">
                    <input required name="password" type="password" ng-model="form.password" ng-minlength="6" class="form-control" placeholder="至少6个字符">
                </span>
                <div class="help-block" ng-show="!validationForm.password.$pristine&&validationForm.password.$invalid">
                    至少6个字符
                </div>
                <div class="text-warning" ng-show="error">
                    {{error}}
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-warning" value="免费注册" />
        </div>
        <div class="form-group text-center">
            <a href="javascript:void(0)" class="btn btn-link" ng-click="toLogin()">已有账号？<span class="text-warning">点击登录&gt;</span></a>
        </div>
    </form>
</div>
