<div class="bill-form">
    <form class="form-horizontal" ng-submit="saveBill(validationForm)" name="validationForm" novalidate>
        <div class="form-group">
            <label class="col-xs-2 control-label">公司名称： </label>
            <div class="col-xs-10">
                <input class="form-control" type="text" ng-model="form.companyName" required ants-placeholder="请填写公司全称并仔细确认" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">收件人： </label>
            <div class="col-xs-10">
                <input class="form-control" type="text" ng-model="form.recipient" required ants-placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">联系电话： </label>
            <div class="col-xs-10">
                <input class="form-control" type="text" ng-model="form.contact" required ants-placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">收件地址： </label>
            <div class="col-xs-10">
                <textarea class="form-control" rows="5" ng-model="form.address" required ants-placeholder="请仔细填写地址，确保当面签收"></textarea>
                <div class="text-gray help-block">
                	<span class="warning">!</span>您可申请状态为[已完成]、[售后完成]的订单发票； 申请增值税专用发票请向客服提供相关资料；
                </div>
            </div>
        </div>
        <div class="form-group">
        	<div class="col-xs-12 text-center">
        		<input class="btn btn-xs btn-warning" value="好的" type="submit" />
        	</div>
        </div>
    </form>
</div>
