<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <button type="button" class="close" ng-click="hideModal()"> <span aria-hidden="true">&times;</span>
                    </button>
                    <span class="clearfix"></span>
                </div>
                <div class="d-header">
                    <div class="img-container">
                        <img src="imgs/logo.png" />
                    </div>
                </div>
                <div class="d-body">
                    <div class="text">
                        <span>保存成功！</span>
                    </div>
                </div>
                <div class="d-footer">
                    <div class="btns">
                       <button class="btn btn-xs btn-warning" ng-click="hideModal()">好的</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
