<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <button type="button" class="close" ng-click="hideModal()"> <span aria-hidden="true">&times;</span>
                    </button>
                    <span class="clearfix"></span>
                </div>
                <ng-include src="currentFormUrl"></ng-include>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
